.loginButton{
  float: right;
  font-size: 20px;
  padding-right: 30px;
}
.search{
  padding-top: 30px;
  color: darkorchid;
  height: 100%;
  text-align: center;

}
#titleOfSearch{
  padding-bottom: 20px;
}
